.container {
  display: flex;
  padding-inline: 50px;
  padding-bottom: 50px;
}

.containerLeft {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.containerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.container h1 {
  font-weight: bold;
  font-size: 7vw;
  line-height: 6vw;
  text-transform: uppercase;
}

.container p {
  padding-inline: 2vw;
  text-align: center;
  line-height: 4vh;
  opacity: 0;
  transform: translateY(20px);
  animation: popUp 0.6s ease-in-out 7.5s forwards;
}

.buttonContainer {
  display: flex;
  align-items: center;
}

.animatedSvg {
  animation: moveUpDown 500ms ease-in-out infinite;
}

.mailContainer {
  display: flex;
}

/* .seeMoreContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  gap: 10px;
} */

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes popUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-inline: 30px;
    padding-bottom: 30px;
  }

  .containerLeft {
    align-items: center;
    gap: 0px;
  }

  .containerRight {
    align-items: center;
  }

  .container h1 {
    min-height: 177px;
    font-size: 13vw;
    line-height: 11vw;
  }

  .container p {
    font-size: 4vw;
    line-height: 5vw;
  }
}
