:root {
  --background: white;
}

[data-theme="dark"] {
  --background: #274856;
  color: #d5e2e8;
}

[data-theme="dark"] h1 {
  color: #d5e2e8;
}

[data-theme="dark"] button {
  background-color: #2d7490;
  border-color: #d5e2e8;
}

[data-theme="dark"] button:hover {
  background-color: #c0d4dc;
  border-color: black;
  color: black;
}

@font-face {
  font-family: "Consolas";
  src: url("../../public/fonts/Consolas.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: url("/background.svg");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 30px;
  height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 22px;
  font-family: "Montserrat", thin;
  padding: 1.5vw;
  background: #92cce3;
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background: #32afe1;
  border: 2px solid black;
}

nav,
h1 {
  font-family: "Consolas";
}

span {
  font-size: 24px;
}

.pageContainer {
  padding-inline: 120px;
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .pageContainer {
    padding-inline: 20px;
    margin-top: 10px;
  }

  body {
    background-image: none;
  }

  .button {
    padding: 4vw;
    font-size: 16px;
  }
}
