@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --background: #f9f8f7;
  --section-bg: #c6c2cd;
  --text: #35363c;
  --accent-pink: #edb7b3;
  --accent-olive: #c1b580;
  --border: #35363c;
}

[data-theme="dark"] {
  --background: #1e1e24;
  --section-bg: #2a2635;
  --text: #d5e2e8;
  --accent-pink: #c98a85;
  --accent-olive: #9b9560;
  --border: #d5e2e8;
}

[data-theme="dark"] h1,
[data-theme="dark"] h2 {
  color: #d5e2e8;
}

@font-face {
  font-family: "Consola";
  src: url("../../public/fonts/CONSOLA.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 80px;
}

@media (max-width: 1024px) {
  html {
    scroll-padding-top: 68px;
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
nav {
  font-family: "Consolas", "Consola", monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 19px 26px;
  background: var(--accent-pink);
  border: 1px solid black;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 0.05em;
}

button:hover {
  background: #e58f89;
}
