[data-theme="dark"] .hamburger .bar {
  background: #2d7490;
  border: 1.25px solid #d5e2e8;
}

[data-theme="dark"] .menuItems {
  background: #274856;
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 50px;
}

.menuItems {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  gap: 40px;
  font-size: 30px;
  text-underline-offset: 10px;
}

.menuItems .active {
  text-decoration: underline;
  font-weight: bold;
}

.menuItems li:hover,
.menuItems li:active {
  text-decoration: underline;
  font-weight: bold;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 10px;
  background: #92cce3;
  border: 1.25px solid #000000;
  border-radius: 2px;
}

@media (max-width: 1024px) {
  .navBar {
    padding: 30px;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .menuItems.active {
    display: flex;
    font-size: 24px;
  }

  .hamburger {
    display: flex;
  }
}
