.toggleSwitch {
  width: 58px;
  height: 33px;
  border: 1px solid var(--text);
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggleSwitch.on {
  background-color: var(--section-bg);
}

.toggleSwitch.off {
  background-color: var(--accent-olive);
}

.toggleKnob {
  width: 25px;
  height: 25px;
  border: 1px solid var(--text);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggleKnob.off {
  background-color: var(--background);
}

.toggleKnob.on {
  background-color: var(--accent-pink);
}

.toggleSwitch.off .toggleKnob {
  transform: translateX(0px);
}

.toggleSwitch.on .toggleKnob {
  transform: translateX(25px);
}
